body {
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace; 

}

h1 {
    font-size: 20px; 
    padding: 10px;
    margin-left: 30px;

}

p {
    font-size: 15px; 
    padding: 2px;
    margin-left: 30px; 
}

table {
    text-align: center; 
    border-collapse: collapse;
    width: 40%;
    background-color: whitesmoke;
    margin-bottom: 6px;
    margin-left: 40px; 
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
tr:hover {background-color: #f0f0f0;}

button:hover {border: 1px solid rgb(60, 60, 60) }

.calcButton {
    font-size: 20px; 
    font-family: 'Courier New', Courier, monospace; 
    width: 30px;
    height: 30px; 
    margin: 2.5px;
}

.operator {
    background-color: rgb(203, 215, 225);
}
.storage{
    padding: 10px;
    margin-left: 30px;
}

#calcButtonsDiv {
    padding-left: 40px; 
    padding-right: 40px; 
    padding-bottom: 40px; 
    width: 170px;    
}

#clearHistory {
    font-size: 15px; 
    font-family: 'Courier New', Courier, monospace; 
    background-color: rgb(203, 215, 225);
    width: 164px;
    height: 40px;
    margin-left: 40px; 
}

#clearInputs {
    width: 164px;
    height: 40px;
    margin: 2.5px;
    font-size: 15px; 
    font-family: 'Courier New', Courier, monospace; 
    background-color: rgb(203, 215, 225);
}

#container{
    width: 80%;
    margin: 15px; 
    margin-left: 40px; 
    margin-top: 40px; 
}    


#inputDiv {
    display: inline; 
}    

/* #tableButtonDiv {
    float: right; 
} */
