body {
    background-color: bisque;
}

table {
    text-align: center; 
    border-collapse: collapse;
    width: 60%;
    background-color: whitesmoke;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#ffcccc;}